<!DOCTYPE HTML>
<html>
  <head>
		<title><%= title %></title>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />  	
	  <%= stylesheet_link_tag    "website/all", "/css/jqueryui/ui", '/css/my_icons/gicons2', :media => "all" %>
  	<%= javascript_include_tag "website/all" %>
  	<%= csrf_meta_tags %>
	  <%= yield :head %>
  </head>
  <body>

    <div class='header-wrapper'>
      <div class='header'>
        <div class='advertisement'>
          <%= render 'travel_website/shared/ad_top_banner' %>
        </div>
        <div class='aetravel-logo'>
          <a href="/">
            <%= image_tag 'logo_w.png', :alt => ''  %>
          </a>
        </div>
        <%= render 'travel_website/shared/login_bar' %>
      </div>
    </div>

    <div class='site-nav-wrapper'>
      <%= render 'travel_website/shared/site_menu' %>
    </div>

    <div class='main-content clear'>
      <div class='breadcrumbs'><%= yield :breadcrumbs %>
        <div class='clear'></div>
      </div>
      <%= flash_messages %>
      <%= yield %>
    </div>

    <%= render 'travel_website/shared/footer' %>
  </body>
</html>
