<% content_for :head do %>
  <%= javascript_tag do %>
    var credit_card_rate = "<%= @credit_card_rate %>";
  <% end %>
<% end %>
<%
  ui = current_user.user_info
  tel = ui.telephones.first
  default_tel = ''
  default_tel = tel.tel if tel
%>
<%= form_for( @object, :html =>{:class => 'credit-card', :onsubmit => 'return validate_cc_payment(this);'} ) do |f| %>
  <%= hidden_field_tag :order_id, params[:id] %>
  <h2>Payment details</h2>
  <ul>
    <li>
      <ul class="cards">
        <li class="visa off">Visa</li>
        <li class="mastercard off">MasterCard</li>
        <li class="amex off">Maestro</li>
      </ul>
    </li>

    <li>
      <label for="card_number">Card number</label>
      <%= f.text_field :card_number, :class => 'full-width' %>
    </li>

    <li class="vertical">
      <ul>
        <li class='expiry-date'>
          <label for="expiry_date">Expiry date <small>mm/yy</small></label>
          <%= f.text_field :valid_date, :maxlength => '5' %>
        </li>

        <li>
          <label for="cvv">CVV</label>
          <%= f.text_field :csc, :maxlength => '4'  %>
        </li>
      </ul>
    </li>
    <li>
      <label for="full_name">Name on card</label>
      <%= f.text_field :full_name, :class => 'full-width' %>
    </li>
    <li>
      <label for="tel">Tel</label>
      <%= text_field_tag :tel, default_tel, :class => 'full-width' %>
    </li>
    <li>
      <label for="address">Billing address</label>
      <%= text_field_tag 'address[address1]', '', :class => 'full-width' %>
    </li>
    <li class='vertical'>
      <ul>
        <li>
          State
          <%= text_field_tag 'address[state]', '' %>
        </li>
        <li>
          Country
          <%= text_field_tag 'address[country]', '' %>
        </li>
        <li>
          ZIP Code
          <%= text_field_tag 'address[zipcode]', '' %>
        </li>
      </ul>
    </li>

    <li class='vertical'>
      <ul>
        <li>
          Amount:
          <%= f.text_field :amount, :readonly => 'readonly' %>
        </li>
        <li>
          Service fee:
          <%= f.text_field :service_fee, :readonly => 'readonly' %>
        </li>
        <li>
          Total:
          <%= f.text_field :total_amount, :readonly => 'readonly' %>
        </li>
      </ul>
    </li>
  </ul>
  <%= f.hidden_field :card_type %>
  <p>
    <%= f.submit 'Pay by Credit Card', :id => 'pay_button', :disabled => 'disabled' %>
  </p>
<% end %>
