<% content_for :head do %>
  <%= javascript_tag do %>
    var credit_card_rate = "<%= @credit_card_rate %>";
  <% end %>
<% end %>
<%= form_for( @object, :html =>{:class => 'credit-card'} ) do |f| %>
  <%= hidden_field_tag :order_id, params[:id] %>
  <h2>Payment details</h2>
  <ul>
    <li>
      <ul class="cards">
        <li class="visa off">Visa</li>
        <li class="visa_electron off">Visa Electron</li>
        <li class="mastercard off">MasterCard</li>
        <li class="maestro off">Maestro</li>
        <li class="discover">Discover</li>
      </ul>
    </li>

    <li>
      <label for="card_number">Card number</label>
      <%= f.text_field :card_number, :class => 'full-width' %>
    </li>

    <li class="vertical">
      <ul>
        <li class='expiry-date'>
          <label for="expiry_date">Expiry date <small>mm/yy</small></label>
          <%= f.text_field :valid_date, :maxlength => '5' %>
        </li>

        <li>
          <label for="cvv">CVV</label>
          <%= f.text_field :csc, :maxlength => '3'  %>
        </li>
      </ul>
    </li>

    <li class="vertical maestro" style="display: none; opacity: 0;">
      <ul>
        <li class='expiry-date'>
          <label for="issue_date">Issue date <small>mm/yy</small></label>
          <input type="text" name="issue_date" id="issue_date" maxlength="5">
        </li>

        <li>
          <span class="or">or</span>
          <label for="issue_number">Issue number</label>
          <input type="text" name="issue_number" id="issue_number" maxlength="2">
        </li>
      </ul>
    </li>

    <li>
      <label for="name_on_card">Name on card</label>
      <%= f.text_field :full_name, :class => 'full-width' %>
    </li>

    <li class='vertical'>
      <ul>
        <li>
          Amount:
          <%= f.text_field :amount, :readonly => 'readonly' %>
        </li>
        <li>
          Service fee:
          <%= f.text_field :service_fee, :readonly => 'readonly' %>
        </li>
        <li>
          Total:
          <%= f.text_field :total_amount, :readonly => 'readonly' %>
        </li>
      </ul>
    </li>
  </ul>
  <%= f.hidden_field :card_type %>
  <p>
    <%= f.submit 'Pay by Credit Card', :id => 'pay_button', :disabled => 'disabled' %>
  </p>
<% end %>
