<div class='order'>
  <h2><%= @tour.description.title %></h2>
  <% price = @tour.tour_price %>
<table class='info-text'>
  <tr>
    <td>
      <table style='width:auto;'>
        <tr>
          <td>Departure: </td><td><%= label_tag @schedule.departure_date %></td>
        </tr>
        <tr>
          <td>Return:</td><td><%= label_tag @schedule.return_date %></td>
        </tr>
      </table>
    </td>
    <td width='10'>&nbsp;</td>
    <td>
      Price: <%= label_tag price.price_adult %><br />
  <% if price.buy_two_get_one_free == 1 %>
    (Single charge: <%= label_tag @tour.tour_price.single_charge %>, 
    4th person charge: <%= label_tag @tour.tour_price.forth_charge %>)
  <% end %>

    </td>
  </tr>
</table>
<hr />
<%= form_tag '/orders' do %>
  <div style='min-height:200px;'>
    <%= hidden_field_tag :schedule_id, @schedule.id %>
  <table id='room_table'>
    <thead>
      <tr>
        <th>Room</th>
        <th>Number of passengers</th>
        <th width='100'>Amount</th>
        <th width='100'></th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td><%= select_tag 'num_adult[]', '<option>1</option><option>2</option><option>3</option><option>4</option>'.html_safe, :onchange => 'recaculate_price()' %></td>
      <td class='amount'></td>
      <td></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td><%= link_to 'add room', 'javascript:add_room();', :class => 'button green small' %></td>
      <td align='right'><b>Total:</b></td>
      <td id='total_amount'></td>
      <td></td>
    </tr>
  </tfoot>
  </table>
</div>
  <p>
    <%= submit_tag 'Submit Order' %>
  </p>
  <% end %>
</div>
