<div class='order'>
<h2><%= @tour.description.title %></h2>
<p class='info-text'>
  Departure: <%= label_tag @schedule.departure_date %>
  Return: <%= label_tag @schedule.return_date %>
</p>

<p class='info-text'>
  Price: <%= label_tag @tour.tour_price.price_adult %>
  <% if @tour.tour_price.buy_two_get_one_free == 1 %>
    (Single charge: <%= label_tag @tour.tour_price.single_charge %>, 
    4th person charge: <%= label_tag @tour.tour_price.forth_charge %>)
  <% end %>
</p>
<hr />
<%= form_tag '/orders' do %>
  <div style='min-height:200px;'>
    <%= hidden_field_tag :schedule_id, @schedule.id %>
  <table id='room_table'>
    <tr>
      <td>Room</td>
      <td>&nbsp;&nbsp;PAX:</td>
      <td><%= select_tag 'num_adult[]', '<option>1</option><option>2</option><option>3</option><option>4</option>'.html_safe, :onchange => 'recaculate_price()' %></td>
      <td>&nbsp;&nbsp;Amount:</td>
      <td class='amount'></td>
    </tr>
  </table><hr />
  <table>
    <tr>
      <td width='100'><%= link_to 'add room', 'javascript:add_room();', :class => 'button green small' %></td>
      <td width='114' align='right'><b>Total:</b></td>
      <td width='100' id='total_amount'></td>
    </tr>
  </table>
</div>
  <p>
    <%= submit_tag 'New Order' %>
  </p>
  <% end %>
</div>
