<% day = 0 %>
<div class="tours content-block">
  <% @tours.each do |t| %>
  <% if t.days > day
    day = t.days
    tit = "days_tour"
    if day > 3
      tit = "more_days_tour"
      day = 10000
    end
  %>
  <div class="clear"></div>
  <h2>-- <%= t tit, :count => day %> --</h2>
  <% end %>
  <div class="tour">
    <div class='tour-icon'>
      <%= image_tag t.title_photo.pic.url(:thumb) if t.title_photo %>
    </div>
    <div class='tour-info'>
      <div class="tour-name">
        <a href='/tours/<%=  t.id %>'>
                <%= tour_full_name(t) %>
            </a>
      </div>
      <div class="price"><%= t 'price' %> $<%=t.tour_price.price_adult if t.tour_price%></div>
    </div>
  </div>
  <% end %>
  <div class="clear"></div>
</div>
