<% content_for :head do %>
<%= javascript_tag do %>
var vds = '<%= @datelist %>';
$(function(){
  $('#departure').datepicker({
    numberOfMonths: 2,
    showButtonPanel: false,
    minDate: 0,
    maxDate: <%= @max_date %>,
    onSelect: function(dateText, inst){
      $('#departure_date').val(dateText);
    },
    beforeShowDay: function(date){
      var s = date_to_string(date);
      if (vds.indexOf(s)<0)
        return [0, '', null];
      else
        return [1, '', s];  
    }
  });
  set_current_menu('menu_<%= @tour.tour_type_menu_id %>');
  $('.dialog-normal').dialog({
    autoOpen: false, show: "fade", hide: "blind", 
    width: 700, height: 300
  });
});
<% end %>
<% end %>
<%= content_for :breadcrumbs do %>
  <ul>
    <li><a href='/'>Home</a></li>
      <li>&raquo;</li>
      <li><a href='/tours'>Tours</a></li>
      <li>&raquo;</li>
      <li><%= link_to @tour.tour_type_name, "/tours/#{@tour.tour_type_menu_id}" %></li>
      <li>&raquo;</li>
      <li><%= @tour.description.title %></li>
    </ul>
<% end %>

<div class="main_lightGreen" >

    <div id="tour_detail">
        <div class="head">
            <h2><%=h @tour.description.local_title(locale) %></h2>
        </div>
        <%=raw @tour.description.local_description(locale) %>
    </div>
  <div id="order">
    Departure Date<br />
    <div id='departure'></div>
    <% if @tour.tour_price %>
      <p>Price: <b>$<%= @tour.tour_price.price_adult %></b></p>
    <% end %>
    <br />
    <%= form_tag order_tour_path(@tour), :method => :post, :remote => true do %>
      <%= hidden_field_tag :tour_id, @tour.id %>
      <%= hidden_field_tag :departure_date %>
      <%= submit_tag 'Order Now', :class => 'color-button' %>
    <% end %>
  </div>
  <div class="clear"></div>
    <div id="tour_dests">
        <%
        cd = 0
        image_path = ''
        @tour.spots.each do |spot|
        if (spot.visit_day != cd)
            cd = spot.visit_day %>
            <div class="day">Day <%= cd %></div>
     <% end %>

        <div class='dest'>
          <% if spot.destination %>
          <div class="pic">
          	<%= image_tag spot.destination.title_photo.pic(:small) if spot.destination.title_photo %>
          </div>
          <div class="tour-info">
              <%= link_to spot.destination.description.local_title(locale), destination_path(spot.destination) %>
              <%=raw spot.description.local_description(locale) if spot.description %>
          </div>
          <% end %>
          <div class="clear"></div>
        </div>

    <% end %>
    <div class="clear"></div>
    </div>
</div>

