<h2>Credit Card Info</h2>

<table>
  <tr>
    <td>Card Number:</td>
    <td><%= credit_card_number(@object.card_number) %></td>
  </tr>
  <tr>
    <td>Card Type:</td>
    <td><%= @object.card_type.upcase %></td>
  </tr>
  <tr>
    <td>Expiry date:</td>
    <td><%= @object.valid_date %></td>
  </tr>
  <tr>
    <td>CVV:</td>
    <td><%= @object.csc %></td>
  </tr>
  <tr>
    <td>Amount:</td>
    <td><%= @object.amount %></td>
  </tr>
  <tr>
    <td>Service fee:</td>
    <td><%= @object.service_fee %></td>
  </tr>
  <tr>
    <td>Total amount:</td>
    <td><%= @object.total_amount %></td>
  </tr>
  <tr>
    <td>Created at:</td>
    <td><%= @object.created_at %></td>
  </tr>
</table>
<br />
<div>
  <%= link_to 'Back to Order', order_path(@object.order) %> |
  <%= link_to 'Cancel and re-input credit card info', pay_credit_card_path(@object), :method => :delete, :class => 'button green', :confirm => "Credit card incorrect? You can cancel this credit payment now and re-input. \n\nAre you sure to continue ?" if @object.status == 0 %>
</div>
